<% if current_user && current_user.admin? %>
  Logged in as <%= current_user.name %>.


<h3>Issue and Submit books from Here<br></h3>
<h4><%= link_to "Manages Books", manage_book_path(@issue_book) %> </h4> 
<h3>Add new books from Here<br></h3> 
<h4><%= link_to "Add new", '/books/new'%> </h4>
<h3>View available books from Here<br></h3> 
<h4><%= link_to "View Books", book_details_path(@book)%> </h4>

<% elsif current_user %>
  Logged in as <%= current_user.name %>.

<h3>View Issued and Submitted books from Here<br></h3>
<h4><%= link_to "Manages Books", manage_book_path(@issue_book) %> </h4> 

<h3>View available books from Here<br></h3> 
<h4><%= link_to "View Books", book_details_path(@book)%> </h4>


<%else%>

	<h2>Login to Online Library Management<br></h2>
	<h3><%= link_to "Login", '/sessions/new', class: "btn btn-info " %> </h3>

<% end %>

