 <% if current_user.present? %>
<h1>Add Books here ..</h1>

<%= form_for @book, :url => {:action => "create"} do |form| %>

  <% if @book.errors.any? %>  
    <div style="color: red;">  
      <ul>  
        <% for message in @book.errors.full_messages %>  
          <li><%=  message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>

  <p>
    <%= form.label :book_name %><br/>
    <%= form.text_field :book_name %>
  </p>
  <p>
    <%= form.label :category %><br/>
    <%= form.text_field :category %>
  </p>
  <p>
    <%= form.label :author %><br/>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :isbn %><br/>
    <%= form.text_field :isbn %>
  </p>
  <p>
    <%= form.label :price %><br/>
    <%= form.text_field :price  %>
  </p>
  <p>
    <%= form.label :image %><br/>
    <%= form.file_field :image  %>
  </p>
 
  <%= form.submit 'Add Book', class: 'button btn btn-primary' %> <br><br>
<% end %>
<% else %>
  <h2>Login to Add books</h2>
  <%= render 'login'%>
 <% end %>    