<%= form_tag @book,  :class => "container container-fliud" do %>
<div class="container">
  <div class="container-fliud">
    <div class="preview col-md-6">
      <div class="preview-pic tab-content">
        <div class="tab-pane active" id="pic-1">
           <%= image_tag @book.image_url.to_s %>
        </div>
      </div>
    </div>
    <div class="details form-group">
      <h1> <%= label_tag @book.book_name , nil%> </h1>
    </div>
    <p class="product-description">
      <h4><%= "This book is for #{@book.book_name} developer "%></h4>
    </p>
    <p class="product-description">
      <h4><%= "Author of this book is #{@book.author} "%></h4>
    </p>
    <p class="product-description">
      <h4><%= "Currently this book is #{@book.status}"%></h4>
    </p>
    <div class="px-2">
        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary "%> 
    </div >
    <%if current_user.admin? %>
      <div class="px-2">
          <%=button_to "delete", @book, :data => {:confirm => "Are you sure?"},
                                        :method => "delete", class: "btn btn-danger"%> 
      </div >
    <% end %>
    </div >
  </div>
  <%end%>
</div>
</div>
