<%= form_tag @book,  :class => "container container-fliud" do %>
<div class="container">
  <div class="container-fliud">
  <!-- <div class="wrapper row"> -->
    <div class="preview col-md-6">
      <div class="preview-pic tab-content">
        <div class="tab-pane active" id="pic-1">
           <%= image_tag @book.image_url.to_s %>
        </div>
      </div>
    </div>
    <div class="details form-group">
      <!-- <h3 class="product-title">men's shoes fashion</h3> -->
      <!-- <h1 class="product-title"> <%= @book.book_name %></h1> -->
      <h1> <%= label_tag @book.book_name , nil%> </h1>
    </div>
    <p class="product-description">
      <h4><%= "This book is for #{@book.book_name} developer "%></h4>
    </p>
    <p class="product-description">
      <h4><%= "Author of this book is #{@book.author} "%></h4>
    </p>
    <p class="product-description">
      <h4><%= "Currently this book is #{@book.status}"%></h4>
    </p>
    <div class="px-2">
      <h5>To update this book details click below</h5>
        <%#= link_to "Update", update_book_path(id: @book.id ), class: "btn btn-primary "%> 
        <%= link_to "Update", update_book_path(id: @book.id), class: "btn btn-primary "%> 
    </div >
  </div>
  <%end%>
</div>
</div>
